In [1]:
import pandas as pd
import numpy as np

In [2]:
dfcal = pd.read_csv(r'D:\DS_MyWorks\Data_Sample\AirBnb_boston\calendar.csv')
dflist = pd.read_csv(r'D:\DS_MyWorks\Data_Sample\AirBnb_boston\listings.csv')
dfreview = pd.read_csv(r'D:\DS_MyWorks\Data_Sample\AirBnb_boston\reviews.csv')

In [3]:
dfcal['available'] =dfcal['available'].apply(lambda x: 1 if x =='t' else 0)

dfcal_group = pd.DataFrame(dfcal.groupby(by=['listing_id'])['available'].mean())
dflistindex = dflist.set_index('id')
dflist = pd.concat([dfcal_group, dflistindex], axis = 1)

In [4]:
dflist.head(5)

,available,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
3353,0.682192,https://www.airbnb.com/rooms/3353,20160906204935,2016-09-07,Private & Small for Solo Travelers,"Clean and comfortable room, good for short ter...",Hey Traveler! We have a nice apartment about 3...,"Clean and comfortable room, good for short ter...",none,NaN,...,9.0,f,NaN,NaN,f,strict,f,f,2,0.38
5506,0.942466,https://www.airbnb.com/rooms/5506,20160906204935,2016-09-07,$99 Special! Hotel Alternative!,NaN,**THE BEST Value in BOSTON!!*** PRIVATE GUEST ...,**THE BEST Value in BOSTON!!*** PRIVATE GUEST ...,none,"Peacful, Architecturally interesting, histori...",...,10.0,f,NaN,NaN,f,strict,f,f,6,0.40
6695,0.887671,https://www.airbnb.com/rooms/6695,20160906204935,2016-09-07,$125 Special!! Home Away! Condo,NaN,** WELCOME *** FULL PRIVATE APARTMENT In a His...,** WELCOME *** FULL PRIVATE APARTMENT In a His...,none,"Peaceful, Architecturally interesting, histori...",...,9.0,f,NaN,NaN,f,strict,f,f,6,0.54
6976,0.873973,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
8792,0.679452,https://www.airbnb.com/rooms/8792,20160906204935,2016-09-07,Large 1 Bed facing State House,NO Marathon rentals yet. Fully furnished 1bed ...,Note: We are not yet booking for the Marathon....,NO Marathon rentals yet. Fully furnished 1bed ...,none,NaN,...,10.0,f,NaN,NaN,f,moderate,f,f,10,0.21

In [5]:
col_to_use = ['host_response_time','host_is_superhost',
       'host_listings_count','host_identity_verified','neighbourhood_cleansed','property_type','room_type',
       'bathrooms','bedrooms','beds','bed_type','price',
       'guests_included','extra_people','minimum_nights','maximum_nights',
       'availability_30','availability_60','availability_90','availability_365',
       'number_of_reviews','review_scores_rating',
       'require_guest_phone_verification',
       'calculated_host_listings_count','reviews_per_month','amenities']
"""
151515
"""

'\n151515\n'

In [6]:
dflist.shape

(3585, 95)

**

---
**

# Preprocessing of Zipcode

Purpose  : **Organizing of Zipcode** <br>
Method   : Before using **One Hot Encoding method**, zip codes that has **less than 60 listings** are assigned to **'02000'** to decrease extra new columns.

In [7]:
zip_columns = list(pd.DataFrame(dflist['zipcode'].value_counts().head(19).index)[0])

dflist['zipcode'] = dflist['zipcode'].apply(lambda x: x if x in zip_columns else '02000')
dflist['zipcode'].value_counts().head()

02000    392
02116    388
02130    331
02118    247
02215    236
Name: zipcode, dtype: int64

**

---
**

# Preprocessing of Price

Purpose  : **Cleaning of Price** Stripping of ` $ ` and decimal point(` .00 `) <br>
Instance : '$250.00'  > string <br>
Goal     :   250      > int

In [8]:
dflist[['price']].head(5)

        price
3353   $40.00
5506  $145.00
6695  $195.00
6976   $65.00
8792  $154.00

In [9]:
dflist['price'][3353][1:-3]

'40'

In [10]:
# Stripping of $ and .00

dflist['price'] = dflist['price'].apply(lambda x: int(x[1:-3].replace(",", "")))

In [11]:
dflist[['price']].sample(5)

          price
9218312      95
6939162     130
12815192    175
5445126     175
4315439      80

# Preprocessing of Extra Guest Cost

Purpose  : **Cleaning of 'extra_people'** Stripping of ` $ ` and decimal point(` .00 `) <br>
Instance : '$250.00'  > string <br>
Goal     :   250      > int

'extra_people'

In [12]:
dflist[['extra_people']].head(5)

     extra_people
3353        $0.00
5506        $0.00
6695        $8.00
6976       $20.00
8792        $0.00

In [13]:
dflist['extra_people'][6976]

'$20.00'

In [14]:
# Stripping of $ and .00

dflist['extra_people'] = dflist['extra_people'].apply(lambda x: int(x[1:-3]))

In [15]:
dflist[['extra_people']].sample(5)

          extra_people
4105704              0
14898146            50
14231732             0
9570618              0
5858133              0

**

---
**

# Preprocessing of Amenities

Let's transfer the number of attributes in `  'amenities'  ` to a column. (row based)

In [16]:
# the number of attributes

dflist['amenities'] = dflist['amenities'].apply(lambda x: x.count(',')+1)

# Preprocessing of reviews_per_month

Empty values are most probably  the ones that does not have any comment

In [17]:
dflist['reviews_per_month'].fillna(0, inplace=True)

# Preprocessing of require_guest_phone_verification

In [18]:
# Applying with true_false function

dflist['require_guest_phone_verification'] = dflist['require_guest_phone_verification'].apply(
    lambda x: 1 if x =='t' else 0)

In [19]:
dflist['host_identity_verified'] = dflist['host_identity_verified'].apply(
    lambda x: 1 if x =='t' else 0)

# Preprocessing of host_is_superhost

In [20]:
dflist['host_is_superhost']=dflist['host_is_superhost'].apply(lambda x : 1 if x=='t' else 0)

# Preporocessing to property_type

Purpose  : **Organizing of List Property Type** <br>
Method   : Before using **One Hot Encoding method**, the property type needs decrease of columns.

- ['Camper/RV','Bed & Breakfast','Entire Floor','Boat','Guesthouse'] convert to 'Other'
- ['Villa','Townhouse'] convert to 'House'
- ['Condominium','Loft'] convert to 'Apartment'

In [21]:
dflist['property_type'].value_counts()

Apartment          2612
House               562
Condominium         231
Townhouse            54
Bed & Breakfast      41
Loft                 39
Other                17
Boat                 12
Villa                 6
Entire Floor          4
Dorm                  2
Camper/RV             1
Guesthouse            1
Name: property_type, dtype: int64

In [22]:
def house(z):
    if z in ['Camper/RV','Bed & Breakfast','Entire Floor','Boat','Guesthouse']:
        return 'Other Room'
    elif z in ['Villa','Townhouse']:
        return 'House'
    elif z in ['Condominium','Loft']:
        return 'Apartment'
    else:
        return z

In [23]:
dflist['property_type'] = dflist['property_type'].apply(house)

# Preporocessing to bed_type

Purpose  : **Organizing of List Bed Type** <br>
Method   : Before using **One Hot Encoding method**, the bed type inside of rooms needs decrease of columns.

- ['Futon', 'Air Bed', 'Couch', 'Sofa'] convert to 'Other'

In [24]:
dflist['bed_type'].value_counts()

Real Bed         3453
Futon              51
Airbed             40
Pull-out Sofa      31
Couch              10
Name: bed_type, dtype: int64

In [25]:
def bed(b):
    if b == 'Real Bed':
        return 'Real Bed'
    else:
        return 'Other Bed'

In [26]:
dflist['bed_type'] = dflist['bed_type'].apply(bed)

# Preprocessing of host_listings_count
Purpose : Calculate of Business Category from host_listings_count<br>
Method : Because of Outliers values are grouped.

In [27]:
def bus_ind(z):
    if z <= 13:
        return 0
    elif z >13 and  z <= 55 :
        return 1
    else:
        return 2

    
dflist['host_listings_count'] =dflist['host_listings_count'].apply(bus_ind)

In [28]:
dflist['host_listings_count'].sample(5)

14822424    0
1692573     0
8908145     0
12873268    0
6742905     0
Name: host_listings_count, dtype: int64

In [29]:
dflist=dflist[col_to_use]
dflist

,host_response_time,host_is_superhost,host_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,bathrooms,bedrooms,beds,...,availability_30,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,amenities
3353,within a few hours,0,0,1,Allston,Apartment,Private room,1.0,1.0,1.0,...,0,0,0,249,34,90.0,0,2,0.38,11
5506,within a day,0,0,1,Roxbury,House,Private room,1.0,1.0,1.0,...,14,39,69,344,36,91.0,0,6,0.40,8
6695,within a day,0,0,1,Roxbury,Apartment,Entire home/apt,1.0,1.0,2.0,...,3,19,49,324,47,95.0,0,6,0.54,18
6976,within a few hours,1,0,1,Roslindale,Apartment,Private room,1.0,1.0,1.0,...,19,46,61,319,41,98.0,0,1,0.47,18
8792,within a few hours,0,0,0,Downtown,Apartment,Entire home/apt,1.0,1.0,1.0,...,0,0,0,248,18,91.0,0,10,0.21,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14924831,NaN,0,0,0,Charlestown,House,Private room,1.0,1.0,1.0,...,6,36,66,66,0,NaN,0,1,0.00,12
14928000,NaN,0,0,0,Dorchester,House,Private room,1.0,1.0,1.0,...,30,60,90,365,0,NaN,0,1,0.00,14
14928333,NaN,0,0,1,South Boston,Apartment,Private room,1.0,1.0,1.0,...,11,34,64,339,0,NaN,0,1,0.00,17
14933380,within a day,0,0,1,Jamaica Plain,Apartment,Shared room,1.0,1.0,1.0,...,25,51,81,81,0,NaN,0,2,0.00,11
14933461,within an hour,0,1,0,South End,Apartment,Entire home/apt,1.0,1.0,1.0,...,3,7,7,150,0,NaN,0,20,0.00,15

# IMPUTATION  for MISSING VALUES

In [30]:
rooms = ['bedrooms','bathrooms','beds']
for i in rooms:
    dflist[i].fillna(value =0, inplace =True)

In [31]:
dflist['property_type'].fillna('Apartment', inplace=True)

In [32]:
dflist['host_response_time'].fillna(method='ffill', inplace =True)

In [33]:
# These imputation is done as avg 63 due to host that had reviews less than 10 times had average 63. 
dflist['review_scores_rating'].fillna(63, inplace =True)

In [34]:
dflist.isna().sum().sort_values()

host_response_time                  0
calculated_host_listings_count      0
require_guest_phone_verification    0
review_scores_rating                0
number_of_reviews                   0
availability_365                    0
availability_90                     0
availability_60                     0
availability_30                     0
maximum_nights                      0
minimum_nights                      0
extra_people                        0
guests_included                     0
price                               0
bed_type                            0
beds                                0
bedrooms                            0
bathrooms                           0
room_type                           0
property_type                       0
neighbourhood_cleansed              0
host_identity_verified              0
host_listings_count                 0
host_is_superhost                   0
reviews_per_month                   0
amenities                           0
dtype: int64

In [35]:
dflist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3585 entries, 3353 to 14933461
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   host_response_time                3585 non-null   object
 1   host_is_superhost                 3585 non-null   int64
 2   host_listings_count               3585 non-null   int64
 3   host_identity_verified            3585 non-null   int64
 4   neighbourhood_cleansed            3585 non-null   object
 5   property_type                     3585 non-null   object
 6   room_type                         3585 non-null   object
 7   bathrooms                         3585 non-null   float64
 8   bedrooms                          3585 non-null   float64
 9   beds                              3585 non-null   float64
 10  bed_type                          3585 non-null   object
 11  price                             3585 non-null   int64
 12  guests_included                   3585 non-null   int64
 13  extra_people                      3585 non-null   int64
 14  minimum_nights                    3585 non-null   int64
 15  maximum_nights                    3585 non-null   int64
 16  availability_30                   3585 non-null   int64
 17  availability_60                   3585 non-null   int64
 18  availability_90                   3585 non-null   int64
 19  availability_365                  3585 non-null   int64
 20  number_of_reviews                 3585 non-null   int64
 21  review_scores_rating              3585 non-null   float64
 22  require_guest_phone_verification  3585 non-null   int64
 23  calculated_host_listings_count    3585 non-null   int64
 24  reviews_per_month                 3585 non-null   float64
 25  amenities                         3585 non-null   int64
dtypes: float64(5), int64(16), object(5)
memory usage: 916.2+ KB

In [36]:
dflist_cat  =  dflist.select_dtypes(include='object')
dflist_cat.columns

Index(['host_response_time', 'neighbourhood_cleansed', 'property_type',
       'room_type', 'bed_type'],
      dtype='object')

In [37]:
# GET DUMMI

for categorical_feature in dflist_cat.columns:
    dflist = pd.concat([dflist, pd.get_dummies(dflist[categorical_feature], drop_first=True)], axis=1)

In [38]:
dflist.drop(dflist_cat.columns, axis=1, inplace=True)

In [39]:
dflist.shape

(3585, 55)

In [40]:
dflist.columns

Index(['host_is_superhost', 'host_listings_count', 'host_identity_verified',
       'bathrooms', 'bedrooms', 'beds', 'price', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month', 'amenities', 'within a day', 'within a few hours',
       'within an hour', 'Back Bay', 'Bay Village', 'Beacon Hill', 'Brighton',
       'Charlestown', 'Chinatown', 'Dorchester', 'Downtown', 'East Boston',
       'Fenway', 'Hyde Park', 'Jamaica Plain', 'Leather District',
       'Longwood Medical Area', 'Mattapan', 'Mission Hill', 'North End',
       'Roslindale', 'Roxbury', 'South Boston', 'South Boston Waterfront',
       'South End', 'West End', 'West Roxbury', 'Dorm', 'House', 'Other',
       'Other Room', 'Private room', 'Shared room', 'Real Bed'],
      dtype='object')

In [41]:
dflist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3585 entries, 3353 to 14933461
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   host_is_superhost                 3585 non-null   int64
 1   host_listings_count               3585 non-null   int64
 2   host_identity_verified            3585 non-null   int64
 3   bathrooms                         3585 non-null   float64
 4   bedrooms                          3585 non-null   float64
 5   beds                              3585 non-null   float64
 6   price                             3585 non-null   int64
 7   guests_included                   3585 non-null   int64
 8   extra_people                      3585 non-null   int64
 9   minimum_nights                    3585 non-null   int64
 10  maximum_nights                    3585 non-null   int64
 11  availability_30                   3585 non-null   int64
 12  availability_60                   3585 non-null   int64
 13  availability_90                   3585 non-null   int64
 14  availability_365                  3585 non-null   int64
 15  number_of_reviews                 3585 non-null   int64
 16  review_scores_rating              3585 non-null   float64
 17  require_guest_phone_verification  3585 non-null   int64
 18  calculated_host_listings_count    3585 non-null   int64
 19  reviews_per_month                 3585 non-null   float64
 20  amenities                         3585 non-null   int64
 21  within a day                      3585 non-null   uint8
 22  within a few hours                3585 non-null   uint8
 23  within an hour                    3585 non-null   uint8
 24  Back Bay                          3585 non-null   uint8
 25  Bay Village                       3585 non-null   uint8
 26  Beacon Hill                       3585 non-null   uint8
 27  Brighton                          3585 non-null   uint8
 28  Charlestown                       3585 non-null   uint8
 29  Chinatown                         3585 non-null   uint8
 30  Dorchester                        3585 non-null   uint8
 31  Downtown                          3585 non-null   uint8
 32  East Boston                       3585 non-null   uint8
 33  Fenway                            3585 non-null   uint8
 34  Hyde Park                         3585 non-null   uint8
 35  Jamaica Plain                     3585 non-null   uint8
 36  Leather District                  3585 non-null   uint8
 37  Longwood Medical Area             3585 non-null   uint8
 38  Mattapan                          3585 non-null   uint8
 39  Mission Hill                      3585 non-null   uint8
 40  North End                         3585 non-null   uint8
 41  Roslindale                        3585 non-null   uint8
 42  Roxbury                           3585 non-null   uint8
 43  South Boston                      3585 non-null   uint8
 44  South Boston Waterfront           3585 non-null   uint8
 45  South End                         3585 non-null   uint8
 46  West End                          3585 non-null   uint8
 47  West Roxbury                      3585 non-null   uint8
 48  Dorm                              3585 non-null   uint8
 49  House                             3585 non-null   uint8
 50  Other                             3585 non-null   uint8
 51  Other Room                        3585 non-null   uint8
 52  Private room                      3585 non-null   uint8
 53  Shared room                       3585 non-null   uint8
 54  Real Bed                          3585 non-null   uint8
dtypes: float64(5), int64(16), uint8(34)
memory usage: 895.2 KB

In [ ]:
df_num = dflist.corr()
df_num

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(16,14))
sns.heatmap(df_num, annot =True)
plt.show()

In [79]:
dflist_f = dflist.query('price <= 475')

In [80]:
y = dflist_f['price']

In [81]:
X = dflist_f.drop(['price'], axis = 1)
X = X.values

In [82]:
display(y.shape)
display(X.shape)
display(type(y))
display(type(X))

(3492,)

(3492, 54)

pandas.core.series.Series

numpy.ndarray

In [83]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lr = LinearRegression()

In [84]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=8)

In [85]:
lr.fit(X_train,y_train)

y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

#print(lr.score(y_test_pred,y_test))
print('test prediction score  =',r2_score(y_test,y_test_pred))
print('train prediction score =',r2_score(y_train,y_train_pred))

test prediction score  = 0.6924150023606053
train prediction score = 0.6601067438042832